[Desktop Entry]
Type=Application
Name=__RNL_APP_NAME__
Comment=React Native application
Exec=__RNL_EXECUTABLE__
Icon=__RNL_EXECUTABLE__
Terminal=false
Categories=Development;
StartupNotify=true
StartupWMClass=__RNL_APP_ID__
